version: '3'

services:
  bulk-rna-kallisto-qc:
    build: .
    image: pwlb/bulk-rna-kallisto-qc
    command: --jobs 11

    volumes:

      # mount the index file
      - /home/pawel/Data/reference-files/kallisto/index_human/index:/index/index.kidx:ro

      # and the tx2genes file (containing transcript vs gene names)
      - /home/pawel/Data/reference-files/kallisto/index_human/annotations.gtf:/index/annotations.gtf:ro

      - ./test/fastq-paired:/input:ro
      - ./output/paired:/output:rw
